        body{
            background: linear-gradient(to left, rgb(255, 193, 193), rgb(129, 129, 255)) ;
        }

        .container{
            background-color: rgba(255, 255, 255, 0.63);
            font-family: verdana;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            justify-content: center;
            width: auto;
            height: auto;
            margin-top: 10px;
            margin: 40px;
            border-radius: 10px;
        }

        h1{
            color: black;
            background-color: rgba(255, 255, 255, 0.63);
            height: 70px;
            display: flex; 
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            font-family: verdana;
            box-shadow: 0 4px 8px rgba(224, 221, 221, 0.897);
        }
        
        h2{
            color: white;
            font-family: verdana;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            margin: 0px;
            width: 500px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.336);
            border-left: 6px solid black;


        }

        .h22{
            display: flex;
            align-items: center;
            justify-content: center; 
        }

        h4{
            color: rgba(68, 68, 68, 0.904);
            margin-top: 20px;
            padding: 10px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            font-family: verdana;
        }

        footer{
            margin-top: 20px;
            background-color: rgba(255, 255, 255, 0.63);
            border-radius: 10px;
        }

        .icons{
            display: flex;
            justify-content: center;
        }

        li{
            display: inline;
            margin: 10px;
            font-size: 20px;
        }

        a{
            text-decoration: none;
            color: black;
            font-family: verdana;
        }

        #facebook:hover{
            background-color: rgb(75, 25, 255);
            border-radius: 10px;
            border: 3px solid white;
        }

        #insta:hover{
            background-color: rgb(255, 128, 25);
            border-radius: 10px;
            border: 3px solid white;
        }

        #twitter:hover{
            background-color: rgb(25, 171, 255);
            border-radius: 10px;
            border: 3px solid white;
        }

        #github:hover{
            background-color: rgb(144, 25, 255);
            border-radius: 10px;
            border: 3px solid white;
        }
        
        .topic, .topic2, .topic3, .topic4 {
            flex: 1 1 calc(25% - 10px);
            min-width: 150px;
        }
        .topic{
            width: 130px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.678);
        }
        .topic2{
            width: 120px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.678);
        }

        .topic3{
            width: 120px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.678);
        }

        .topic4{
            width: 120px;
            height: 40px;
            border-radius: 5px;
            display: flex;
            margin: 10px;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.678);
        }

        .topic:hover{
            background-color: rgb(75, 25, 255);
            color: white;
            border: 3px solid black;
        }

        .topic2:hover{
            background-color: rgb(255, 128, 25);
            color: white;
            border: 3px solid black;
        }

        .topic3:hover{
            background-color: rgb(25, 171, 255);
            color: white;
            border: 3px solid black;
        }

        .topic4:hover{
            background-color: rgb(144, 25, 255);
            color: white;
            border: 3px solid black;
        }
        h2:hover{
            background: linear-gradient(to left, red, blue);
            border: 3px solid black;
        }